@tailwind base;
@tailwind components;
@tailwind utilities;

.textHero {
  top: 19.375rem;
  left: 48.25rem;
}

.heroButtom {
  top: 25.375rem;
  left: 56.25rem;
}

.whatsapp {
  position: fixed;
  top: 75%;
}

.img {
  width: auto;
  height: auto;
}
